@{
    ViewData["Title"] = "Home Page";
}
@using DataAccess.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
